@import url("https://fonts.googleapis.com/css?family=Be+Vietnam|Pacifico&display=swap");
body {
  background: rgb(243, 243, 243);
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.card-header {
  background: #fff !important;
  border-bottom: solid 1px rgb(245, 245, 245);
}
.card {
  border: none;
  margin: 1% 2%;
  box-shadow: 1px 1px 10px rgb(230, 230, 230);
}
.title-hr {
  width: 80px;
  border-radius: 10px;
  background: rgb(255, 204, 109);
  margin: auto;
  height: 20px;
}
.normal-hr {
  width: 10%;
  margin: auto;
  margin-bottom: 1%;
  border-radius: 5px;
  background: rgb(255, 204, 109);
}
.text-mute{
  color: rgb(58, 58, 58)
}
.normal-hr-2{
  width: 80%;
  margin: auto;
  margin-bottom: 1%;
  border-radius: 1px;
  background: rgb(255, 255, 255);
}
.title {
  color: #fff;
  text-shadow: 1px 1px 10px #000;
  text-transform: capitalize;
}
#videoBG {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
